POSTGRES_DB=moviprogy
POSTGRES_USER=moviprogy
POSTGRES_PASSWORD=troque_esta_senha_no_ambiente_local
ADMIN_API_TOKEN=troque_este_token_admin_local
MOVIPROGY_ADMIN_EMAIL=admin@moviprogy.local
MOVIPROGY_ADMIN_PASSWORD=troque_esta_senha_admin_local
MOVIPROGY_MAX_UPLOAD_BYTES=536870912
MOVIPROGY_GOOGLE_CLIENT_ID=
MOVIPROGY_GOOGLE_CLIENT_SECRET=
MOVIPROGY_GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/integrations/google-drive/callback
MOVIPROGY_GOOGLE_TOKEN_KEY=troque_esta_chave_com_32_ou_mais_caracteres
MOVIPROGY_GOOGLE_OAUTH_SIMULATED=false
